<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NodeJS APP</title>
    <link rel="stylesheet" href="../public/style.css">
    <style>
        label, input {
            display: block;
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <h1><%= title %></h1>
    <form method="post" action="users/add">
        <label>Imię</label>
        <input type="text" name="first-name">
        <label>Nazwisko</label>
        <input type="text" name="last-name">
        <label>Email</label>
        <input type="email" name="email">
    </form>
</body>
</html>